@media all and (max-width: 1024px) {
  #footer > ul {
    padding-left: 8%;
    padding-bottom: 0;
    cursor: pointer;
  }

  #footer > ul > a > li {
    display: none;
  }

  @media all and (max-width: 768px) {
    .wrap,
    .article__header,
    .article__container {
      margin: 0 2.5%;
    }

    .navbar__menu,
    .search-box,
    .search__btn,
    .search__text,
    #header {
      display: none;
    }

    .search {
      width: 100%;
      margin: 20px 0;
    }

    .search.search-fixed {
      position: fixed;
      width: 95%;
      top: -1%;
      left: 2.5%;
      box-shadow: none;
      background-color: white;
      z-index: 100;
      padding: 4px 0;
    }

    .search-box-location {
      display: block;
      border: none;
      padding: 10px 10px;
    }

    .search__form > span {
      position: absolute;
      cursor: pointer;
      z-index: 300;
      display: inline;
    }

    .search__form > span:hover {
      color: red;
    }

    .title {
      margin: 25px 0;
    }

    .content {
      flex-direction: column;
    }

    .content__menu {
      width: 100%;
      margin-bottom: 70px;
    }

    .article__container {
      position: relative;
      padding-bottom: 170%;
      overflow: hidden;
    }

    .article__main {
      position: absolute;
      top: 0;
      width: 100%;
    }

    .main__bottom:nth-child(1) {
      top: 0;
      left: 100%;
    }

    .main__bottom:nth-child(2) {
      top: 540px;
      left: 100%;
      padding-right: 18px;
    }

    /* 푸터 */
    .info {
      flex-direction: column;
    }

    .bear__info {
      width: 100%;
      padding-bottom: 0;
      font-size: 0.8rem;
    }
    .bear__info-text {
      width: 100%;
    }
    .bear__info-btn {
      display: none;
    }

    .bear__info-btn-768px {
      margin-top: 20px;
      background-color: unset;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      padding: 5px 12px;
      font-size: 12px;
      cursor: pointer;
      font-weight: 700;
      display: block;
    }

    .bear__info-btn-768px:hover {
      background-color: rgba(178, 190, 195, 0.1);
    }

    #footer {
      flex-direction: column;
      padding: 0px;
    }

    #footer > ul {
      width: 100%;
      border-bottom: 1px solid rgba(178, 190, 195, 0.7);
      padding: 20px 0 30px 8%;
    }

    #footer > ul > a > li {
      display: block;
    }

    .navbar__bottom {
      width: 100%;
      display: block;
      display: flex;
      position: fixed;
      justify-content: center;
      bottom: 0;
      background-color: rgb(255, 255, 255);
      box-shadow: 1px 1px 1px 1px rgba(178, 190, 195, 1);
    }

    .navbar__bottomenu {
      cursor: pointer;
      margin: 0 10px;
    }

    .navbar__bottomenu:hover {
      color: rgb(255, 56, 92);
    }

    .navbar__bottom-icon {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 10px;
      font-size: 0.7rem;
    }
    .navbar__bottom-icon > i {
      font-size: 1.7rem;
      color: rgba(0, 0, 0, 0.7);
    }
  }

  @media all and (max-width: 476px) {
    .aside__text {
      display: none;
    }

    .content {
      position: relative;
      padding-bottom: 90%;
      overflow: hidden;
    }

    .content__menu {
      position: absolute;
    }

    .menu__slide2 {
      left: 100%;
    }

    .menu__slide3 {
      left: 200%;
    }

    .article__view-btn {
      display: none;
    }

    .article__view-bottom {
      padding: 15px;
    }

    .article__view-btn-bottom {
      display: block;
      padding: 6px 10px;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 7px;
      color: white;
      font-size: 12px;
      font-weight: 700;
      cursor: pointer;
      outline: none;
    }

    #footer {
      padding-bottom: 70px;
    }
  }
}
